.gallery{
    padding:80px 8%;
    background:#fff8f0;
    text-align:center;
}

.gallery h1{
    font-size:42px;
    color:#4e342e;
    margin-bottom:10px;
}

.gallery p{
    color:#666;
    margin-bottom:40px;
    font-size:18px;
}

.gallery-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}

.gallery-container img{
    width:100%;
    height:250px;
    object-fit:cover;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
    transition:0.4s;
    cursor:pointer;
}

.gallery-container img:hover{
    transform:scale(1.05);
    box-shadow:0 15px 30px rgba(0,0,0,.25);
}