.menu-card{
    background:#fff;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 8px 20px rgba(0,0,0,.12);
    transition:.3s;
}

.menu-card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(0,0,0,.2);
}

.menu-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.card-body{
    padding:18px;
}

.card-body h3{
    color:#7B241C;
    font-size:26px;
    margin-bottom:8px;
}

.card-body p{
    color:#666;
    font-size:15px;
    margin-bottom:18px;
}

.card-info{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.card-info span{
    font-size:17px;
}

.price{
    color:#ff6b00;
    font-size:28px;
    font-weight:bold;
}

.menu-card button{
    width:100%;
    border:none;
    padding:14px;
    border-radius:40px;
    background:#8B2E21;
    color:white;
    font-size:17px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.menu-card button:hover{
    background:#ff8c00;
}