.navbar {
    /* background:#a90000; */
    background:#4E342E;
    height:150px;
    padding-top:20px;
    text-align:center;
    color:white;
}


/* Restaurant Logo + Name */

.brand {
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
}


.brand-icon {
    font-size:32px;
}


.brand h1 {
    margin:0;
    font-size:30px;
    font-family:Georgia, serif;
    color:white;
}


/* Navigation */

nav {
    margin-top:25px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:28px;
}


nav a {

    color:white;
    text-decoration:none;

    font-size:22px;
    font-weight:bold;

    font-family:Georgia, serif;

    padding-bottom:8px;
}


/* Active Home */

nav a.active {

    /* color:#ffd700; */
    color:#FFD54F;

    border-bottom:4px solid #ffd700;

}


/* Cart Button */

.cart-link {
    padding:0 !important;
    border:none !important;
}


.cart-box {

    width:58px;
    height:58px;

    background:#ff5722;

    border-radius:18px;

    display:flex;
    justify-content:center;
    align-items:center;

    position:relative;

    margin-left:15px;
}


.cart-box svg {

    font-size:30px;
    color:white;

}


/* Cart Count */

.cart-count {

    position:absolute;

    top:-10px;
    right:-10px;


    width:30px;
    height:30px;

    background:#ffb300;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    color:white;

    font-size:16px;
    font-weight:bold;

}