.stats{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:30px;
    padding:70px 8%;
    background:#fff8f0;
}

.stat-card{
    width:220px;
    padding:30px;
    background:white;
    border-radius:15px;
    text-align:center;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
    transition:.3s;
}

.stat-card:hover{
    transform:translateY(-8px);
}

.stat-card h2{
    color:#ff6b35;
    font-size:42px;
    margin-bottom:10px;
}

.stat-card p{
    color:#555;
    font-size:18px;
    font-weight:500;
}