
 .toast{

position:fixed;

top:25px;

right:25px;

background:#16a34a;

color:white;

padding:15px 22px;

border-radius:10px;

font-size:16px;

font-weight:600;

box-shadow:0 8px 20px rgba(0,0,0,.2);

animation:slideIn .4s ease;

z-index:99999;

}

@keyframes slideIn{

0%{

opacity:0;

transform:translateX(100%);

}

100%{

opacity:1;

transform:translateX(0);

}

}